.form-row{
  background: #f5f5f5;
  margin:0 0 1em 0;
  padding:.5em;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 1px 1px 5px #2b2d2f ;
}

.prev,
.next{
  background-color:#1f7e9a;
  padding:.5em;
  width:20%;
  max-width:150px;
  text-transform:uppercase;
  font-size:.7em;
  font-weight:bold;
  color:#fff;
  float:left;
}

.next{
  float:right;
}

//deselected items
.gray{
  opacity:.25;
  .prev,
  .next{
    background-color: #a4abb3;
  }
}